<%= high_chart("sanjana", @chart) %>
<h3 align = "center"><%= @titulo %></h3> 
<div id="sanjana" style="height: 800px"></div>

<%= form_tag("/graphics/filter_years.json",id: "new-request", method: "get", remote: true, :class =>'form-inline') do %>

  <div class="form-group">
  <%= label_tag(:initial_date, "Ano de início") %>
  <% sanjana = [1988, 1991, 1992, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]  %>
  <%= select_tag(:initial_date, options_for_select(sanjana), class: 'form-control') %>
  </div>
  <div class="form-group">
  </div>
<% end %>
