<!-- Home Page
==========================================-->
<div id="tf-home" class="text-center">
  <div class="overlay">
    <div class="content">
      <h8><%= link_to image_tag('pesquini_logo.png'), root_path %></h8>
      <p class="lead"><strong>Pesquisa</strong> de empresas <strong>Inidôneas</strong></p>
    </div>

    <div class="content_search">

      <%= search_form_for @search do |f| %>
      <div class="input-group">
        <%= f.text_field :corporate_name_or_cnpj_cont, class: "form-control input-lg", placeholder: "Digite nome ou CNPJ da empresa", placeholder: "Digite nome ou CNPJ da empresa"%>
        <span class="input-group-btn">
          <%= f.button type: "submit",  class: "btn btn-lg btn-r" do %>
            <i class="fa fa-search fa-lg"></i>
          <% end %>
        </span>
      </div>
      <% end %>

    </div>
  </div>
</div>

<!-- About Empresas
==========================================-->
<div id="tf-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--<img src="img/02.png" class="img-responsive">-->
        <%= image_tag 'empresa_1.jpg', class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h4>O que são </h4>
            <h2>empresas <strong>Inidôneas</strong> ?</h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="intro">As empresas que constam como sendo inidôneas são aquelas que receberam sanções que tenham como efeito restrição ao direito de participar em licitações ou de celebrar contratos com a Administração Pública. Algumas das sanções que uma empresa pode sofrer:</p>
          <ul class="about-list">
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Suspensão</strong> <em> temporária</em>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Declaração</strong> <em> de inidoneidade</em>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Impedimento</strong><em> de licitar e contratar</em>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Proibição</strong> <em> de participar de licitações e de contratar</em>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Outras</strong> -  <a href ="#"><em>Clique aqui saber sobre mais sanções e informações sobre elas</em></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Services Section
==========================================-->
<div id="tf-services" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong>Ranking</strong> de empresas</h2>
      <div class="line">
        <hr>
      </div>
      <div class="clearfix"></div>
      <em>Visualização de rankings de empresas inidôneas. Por meio dessa ferramenta é possivel obter informações como, por exemplo, quais empresas geraram maiores prejuízos, sofreram maior número de sanções.</em>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6 service">
        <i class="fa fa-upload"></i>
        <h4><strong>Número de sanções</strong></h4>
        <p>Ranking das empresas com maior número de sanções.</p>
      </div>

      <div class="col-md-3 col-sm-6 service">
        <i class="fa fa-usd"></i>
        <h4><strong>Gastos</strong></h4>
        <p>Ranking das empresas que geraram maiores prejuísos ao Estado.</p>
      </div>

