        <div class =" lowercase-letter">
    <% @payments.each_with_index do |p, index| %>
          <h4><b><div class= "index_number"><%= @page_num*@per_page + index +1%></div></b></h4>
          <h4> <b>Identificador: </b> <%= p.identifier %> </h4>
          <h4> <b>Número do processo: </b> <%= p.process_number %> </h4>
          <h4> <b>Valor inicial: </b> <%= number_to_currency(p.initial_value, unit: "R$ ", separator: ",", delimiter: ".")%> </h4>
          <h4> <b>Data de assinatura: </b> <%= p.sign_date.strftime("%d/%m/%Y") %> </h4>
          <h4> <b>Inicio do pagamento: </b> <%= p.start_date.strftime("%d/%m/%Y") %> </h4>
          <h4> <b>Fim do pagamento: </b> <%= p.end_date.strftime("%d/%m/%Y") %> </h4>
          <hr align="left">
     <% end %>

      <% if @payments.empty? %>
        <h3> Dados sobre pagamentos não informados </h3>
      <% end %>
      <%= will_paginate @payments,  renderer: BootstrapPagination::Rails %>

      </div>