<!--
  File: _sanctions.html.erb
  Purpose: File that renders information for sanctions
  License : LGPL. No copyright.
-->

<div class =" lowercase-letter">

  <% @sanctions.each_with_index do |p, index| %>
    <h4>
      <b><div class= "index_number"><%= @page_num*@per_page + index +1%></div></b>
    </h4>
    <h4>
      <% santion_organ_downcase = p.sanction_organ.downcase! %>
      <b>Órgao Sancionador: </b> <%= santion_organ_downcase %>
    </h4>
    <h4>
      <b> Número do processo: </b> <%= p.process_number %>
    </h4>
    <h4>
      <% if !p.initial_date.nil? %>
        <% sanction_initial_date = "Dado nao informado" %>
      <% else %>
        <% signature_pattern = "%d/%m/%Y" %>
        <% sanction_initial_date = p.initial_date.strftime(signature_pattern) %>
      <% end %>
      <b>Data de Inicio da Sanção: </b> <%= sanction_initial_date %>
    </h4>
    <h4>
      <% if !p.final_date.nil?%>
        <% signature_pattern = "%d/%m/%Y" %>
        <% sanction_final_date = p.final_date.strftime(signature_pattern) %>
      <% else %>
        <% sanction_final_date = "Dado nao informado" %>
      <% end %>
      <b> Data Final da Sanção: </b> <%= sanction_final_date %>
    </h4>
    <h4>
      <% if !p.state.nil?%>
        <% country_state = p.state.abbreviation %>
      <% else %>
        <% country_state = "Dado nao informado" %>
      <% end %>
      <b> UF: </b> <%= country_state %>
    </h4>
    <h4>
      <% if !p.sanction_type.nil? %>
        <% sanction_type = p.sanction_type.description.downcase! %>
      <% else %>
        <% sanction_type = "Dado não informado" %>
      <% end %>

      <b> Tipo Sanção: </b> <%= sanction_type %>
    </h4>

    <% if @enterprise.payment_after_sanction? %>
      <h4>
        Contrato pós Sanção? : <span class="glyphicon glyphicon-ok">
      </h4>
    <% else %>
      <h4>
        Contrato pós Sanção? : <span class="glyphicon glyphicon-remove">
      </h4>
    <% end %>

    <hr align="left">
  <% end %>

  <% if @sanctions.empty? %>
    <h3> Dados sobre sanções não informados </h3>
  <% else %>
    <!-- nothing to do -->
  <% end %>

  <%= will_paginate @sanctions,  renderer: BootstrapPagination::Rails %>

</div>