<%= search_form_for @search do |f| %>
  <%= f.label :corporate_name_cont %>
  <%= f.search_field :corporate_name_cont%>
  <%= f.submit %>
<% end %> 
<% if @enterprises.blank? %>
	<h2>Nao existem sançoes contra a empresa procurada.</h2>
<% else %>
	<% @enterprises.each do |p| %>
 	 <h2> <h3>Empresa:</h3> <%= p.corporate_name %> </h2>
 	 <h2> <h3>CNPJ:</h3> <%= p.cnpj %> </h2>
 	 <hr>
	<% end %>
<% end %>
