<%= search_form_for @search do |f| %>
  <%= f.label :corporate_name_cont %>
  <%= f.search_field :corporate_name_cont%>
  <%= f.submit %>
<% end %> 


<% if @enterprises.blank? %>
  <div class="entreprises_title"><h2>Nao existem sançoes contra a empresa procurada.</h2></div>
<% else %>
<div class="enterprises_title"><h2> Lista das empresas encontradas contendo o termo que foi pesquisado</h2> </div>
<% @enterprises.each do |p| %>
  <h3>Empresa: <%= link_to p.corporate_name, p %> </h3>
  <h3>CNPJ: <%= p.cnpj %> </h3>
  <hr>
  <% end %>
<% end %>
