<%= javascript_include_tag("pagination.js") %>

<div id="enterprises_show">
  <div class="container">

    <div class="section-title">
      <h2><%= @enterprise.corporate_name %> </h2><br>
      <h4> <b>CNPJ da Empresa:  </b><%= @enterprise.cnpj %> </h4>
      <h4> <b>Posição no <%= link_to "grupo", controller: 'statistics', action: 'most_sanctioned_ranking' %> do ranking de empresas mais sancionadas: </b><%= @position %> </h4>
      <h4> <b>Posição no ranking de empresas que mais receberam verbas de pagamentos : </b><%= @payment_position %> </h4>

    </div>

    <span id="title-hr"><hr></span>

    <div id ="enterprises_selection">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active" id="sanction-info-btn"><a href="#">Sanções</a></li>
        <li role="presentation" id="payment-info-btn"><a href="#">Pagamentos</a></li>
      </ul>
    </div>

    <div class="sanction-info">
      <%= render "sanctions" %>
    </div>


     <div class="payment-info">
      <%= render "payments" %>
     </div>

  </div>
</div>