<!-- < %= search_form_for @search do |f| %>
  < %= f.label :corporate_name_or_cnpj_cont %>
  < %= f.text_field :corporate_name_or_cnpj_cont%>
  < %= f.submit %>
< % end %>  -->

<div id="enterprises_show">


   <h3> Empresa: <%= @enterprise.corporate_name %> </h3>
   <h3> CNPJ:<%= @enterprise.cnpj %> </h3>
   <% @sanctions.each do |p| %>
        <h3> Numero do processo: <%= p.process_number %> </h3>
   <% end %>
   <h3> <%=  %> </h3>

   <hr>
   <%= render :partial => 'sanctions_itens' %>
</div>