<!--
File: most_paymented_ranking.html.erb
Purpose: View that shows enterprises with most payments
License : LGPL. No copyright.
!-->

<div class="container">
 <%= render 'back_button' %>
 <% verb_ranking = "Ranking das empresas que mais receberam verba em pagamentos" %>
 <h2 align="center"><%= verb_ranking %></h2>
 <br><br>

 <%@enterprises.each_with_index do |enterprise, position| %>
 <% message = "#{position+1} ) " %>
 <h3><%= message %><%= link_to enterprise.corporate_name, enterprise %><br></h3>
 <% another_message = "Total de pagamentos feitos a empresa: #{number_to_currency(enterprise.payments_sum, unit: "R$ ", separator: ",", delimiter: ".")}" %>
 <B><%= another_message  %></B>
 <% end %>
</div>

<div = class="container"
  <span class="division"> <hr> </span>
    <% if !@all %>
      <%= link_to "Todas", controller: 'statistics', action: 'most_paymented_ranking', sanjana: ""%>
    <% else %>
      <!-- Do nothing !-->
    <% end %>
    <% if @all %>
      <%= will_paginate @enterprises,  renderer: BootstrapPagination::Rails %>
    <% else %>
      <!-- Do nothing !-->
    <% end %>
    <span class="division">
      <hr>
    </span>
</div>
