#  File: footer
#  Purpose: Implementation of footer view 
#  License : LGPL. No copyright.

# This view connect on social networks

<nav id="footer">
  <div class="container">
    <div class="pull-left fnav">
      <p>
        <p>Sobre nós: <%= link_to "Equipe de alunos UnB, disciplina MDS/GPP", "#" %>
      <p>
    </div>
    <div class="pull-right fnav">
      <ul class="footer-social">

        <li> <%= link_to "Facebook", "#" %>
        </li>
        <li> <%= link_to "Dribble", "#" %>
        </li>
        <li> <%= link_to "Google+", "#" %>
        </li>
        <li> <%= link_to "Twitter", "#" %>
        </li>

      </ul>
    </div>
  </div>
</nav>
